@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Old+Standard+TT:wght@700&display=swap');

:root {
  --background:#10181e;
  --text:#a2afb9;

  --h1:#edf0f3;
  --h2:#d5dce2;
  --h3:#bbc6ce;
  --h4:#a2afb9;
  --h5:#8a99a3;
  --h6:#73828c;

  --primary:#1095c1;
  --primary-hover:#1ab3e6;
  --primary-focus:rgba(16, 149, 193, 0.25);
  --primary-inverse:#FFF;
  --secondary:#596b78;
  --secondary-hover:#73828c;
  --secondary-focus:rgba(89, 107, 120, 0.25);
  --secondary-inverse:#FFF;
  --contrast:#d5dce2;
  --contrast-hover:#FFF;
  --contrast-focus:rgba(89, 107, 120, 0.25);
  --contrast-border:rgba(255, 223, 128, 0.33);
  --contrast-inverse:#10181e;
  --input-background:#10181e;
  --input-border:#374956;
  --valid:#1f7a5c;
  --invalid:#943838;
  --mark:rgba(255, 223, 128, 0.5);
  --mark-text:#FFF;
  --muted-text:#73828c;
  --muted-background:#10181e;
  --muted-border:#23333e;
  --card-background:#17232b;
  --card-sections:#141d24;
  --card-shadow: 0.5rem 0.5rem 2rem .2rem rgba(0, 0, 0, 1);
  --code-background:#141d24;
  --code-inlined:rgba(65, 84, 98, 0.25);
  --code-color-1:#73828c;
  --code-color-2:#a65980;
  --code-color-3:#599fa6;
  --code-color-4:#8c8473;
  --code-color-5:#4d606d;
  --table-border:#10181e;
  --table-stripping:rgba(115, 130, 140, 0.02);

}


html {
  color:var(--text);
  background-color:var(--background);
  font-family: 'Montserrat', sans-serif;
  /* font-size:2vw; */
}

body {

  width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
max-width: 1140px;

}

header {
    margin-bottom: 3rem;
}


nav, main, aside, article, section, footer {
  padding: .2rem;
}

article > p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

img {

  max-width: 50%;
  height: auto;

  border-radius: .5rem;
  box-shadow: var(--card-shadow);

  filter: grayscale(80%);
  transition: filter 1s ease-in-out;

}

img:hover {
  filter: grayscale(0);
}


header {

}

nav {

}

main {

}

aside {

}

article {

}

section {


}

footer{

}


ul {
  list-style: none;
  padding: .2rem;
}


a[role=button],
button,
input[type=submit] {
 border:1px solid transparent;
 padding:0.75rem 1rem;
 border-radius:0.25rem;
 outline:none;
 background-color:var(--primary);
 color:var(--primary-inverse);
 font-size:1rem;
 font-weight:normal;
 line-height:1.5;
 text-align:center;
 cursor:pointer;
 transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}




h1, h2, h3, h4, h5, h6 {
  font-family: 'Old Standard TT', serif;
  font-weight:700;
  margin-top: 2rem;
  margin-left: 0rem;
  margin-bottom: 0;
}

h1, h1 > a {
 color:var(--h1);
 font-size:4rem
}

h2, h2 > a {
 color:var(--h2);
 font-size:1.75rem
}

h3, h3 > a {
 color:var(--h3);
 font-size:1.2rem
}

h4, h4 > a {
 color:var(--h4);
 font-size:1.1rem
}

h5, h5 > a {
 color:var(--h5);
 font-size:1rem
}

h6, h6 > a {
 color:var(--h6);
 font-size:.9rem
}







a {
 background-color:transparent;
 color:var(--primary);
 text-decoration:none;
 transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, text-decoration 0.2s ease-in-out, box-shadow 0.2s ease-in-out
}
a:active,
a:focus,
a:hover {
 color:var(--primary-hover);
 text-decoration:underline
}
a:focus {
 outline:none;
 background-color:var(--primary-focus)
}



@media (min-width:576px) {
  nav, main, aside, article, section, footer {
    padding: 1rem;
  }


  ul {
    padding: 1rem;
  }
}

@media (min-width:768px) {

  nav, main, aside, article, section, footer {
    padding: 2rem;
  }


  ul {
    padding: 2rem;
  }

}
