<footer>
    <a href="https://catpea.com/" class="secondary"><small>Home</small></a> &middot;
    <a href="https://news.catpea.com/" class="secondary"><small>News</small></a> &middot;
    <a href="https://github.com/catpea/poetry" class="secondary"><small>Source</small></a> &middot;
    <a href="https://catpea.github.io/poetry/" class="secondary"><small>Mirror</small></a> &middot;
    <a href="styleguide.html" class="secondary"><small>Style</small></a>
</footer>

<!-- {{#if isHomePage}}{{/if}} -->
