<header>
  <hgroup>
    <h1>{{title}}</h1>
    <p>by {{author}}</p>
  </hgroup>

  <div><a href="audio/all.mp3" role="button" rel="noopener noreferrer" target="_blank" class="no-print">Listen</a></div>

</header>

<!-- {{#if isHomePage}}{{/if}} -->
