<footer>
    <a href="{{canonical}}" class="secondary"><small>Cat Pea</small></a> &middot;
    <a href="https://news.catpea.com/" class="secondary"><small>News</small></a> &middot;
    <a href="https://github.com/catpea/poetry" class="secondary"><small>Source Code</small></a> &middot;
    <a href="https://catpea.github.io/poetry/" class="secondary"><small>Mirror</small></a>
</footer>
