<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
<title>Cat Pea News Network</title>
<meta name="description" content="Cat Pea News Network">
<link rel="canonical" href="{{canonical}}">
<meta name="robots" content="index, follow">
<!-- <link rel="stylesheet" href="css/pico.classless.min.css">
<link rel="stylesheet" href="css/custom.css"/> -->
<link rel="stylesheet" href="css/gutenberg.min.css" media="print">
<link rel="stylesheet" href="css/custom-print.css" media="print">

<link rel="stylesheet" href="css/normalize.css" media="screen">
<link rel="stylesheet" href="css/poetry-book.css" media="screen">

<script src="js/theme.js"></script>
